@CHARSET "UTF-8";
#left_nav {
    width:250px;
}
#body {
    width:90%;
    float:left;
    margin:10px;
}

.accordion {
    background: #cccccc none repeat scroll 0 0;
    border-top: 1px solid #f0f0f0;
    color: #000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    /*height: 20px;*/
    margin: 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align:left;
    width: 100%;
}
.accordion-open {
    background:#000;
    color: #fff;
}
.accordion-open span {
    display:block;
    float:right;
    padding:10px;
}
.accordion-open span {
    background:url(../images/minus.png) center center no-repeat;
}
.accordion-close span {
    display:block;
    float:right;
    background:url(../images/plus.png) center center no-repeat;
    padding:10px;
}
/*div.container {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}*/

div.content {
    background: #f0f0f0 none repeat scroll 0 0;
    float: left;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0;
    padding: 10px;
    width: 100%;
}
div.content ul, div.content p {
    padding:0;
    margin:0;
    padding:3px;
}
div.content ul li {
    list-style-position:inside;
    line-height:25px;
}
div.content ul li a {
    color:#555555;
}
code {
    overflow:auto;
}
.img_section
{
float:left;
width:50%;
}
.img_section > img {
    float: left !important;
    padding: 9px !important;
    width:26% !important;
	}