/************************************************************************************
smaller than 1366
*************************************************************************************/
@media screen and (max-width: 1366px) {

}
/************************************************************************************
smaller than 1280
*************************************************************************************/
@media screen and (max-width: 1280px) {



}


/************************************************************************************
smaller than 1024
*************************************************************************************/

@media screen and (max-width: 1024px) {




}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {

.registered_btnn {
    float: left;
    width: 100%;
    font-size: 20px;
    background: #e81717;
    padding: 10px 0;
    font-family: 'Montserrat';
    border-radius: 17px;
    border: 0px !important;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: white !important;
    color: white;
    text-shadow: none !important;
}
.banner_content h2 {
    float: left;
    width: 100%;
    font-size: 34px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
#contact h4 {
    margin: 15px 0 15px;
    display: block;
    font-family: 'Poppins';
    font-size: 13px;
    color: #838383;
    line-height: 23px;
}
.map_sect iframe {
    height: 536px;
    border: 1px solid #a0a0a0 !important;
    width: 100%;
}


}



@media screen and (max-width: 736px) {
	
.logo_sctn {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
.top_middle {
    float: left;
    width: 100%;
    padding: 7px;
    text-align: right;
}
.top_middle p {
    float: left;
    width: 100%;
    font-size: 16px;
    font-family: 'Conv_Poppins-Medium';
    margin: 6px 0;
    line-height: 27px;
    text-align: center;
}
.banner_content {
    float: left;
    width: 100%;
    margin: 0px;
}
.banner_side {
    float: left;
    width: 100%;
    display: none;
}
.registered_btnn {
    float: left;
    width: auto;
    font-size: 20px;
    background: #e81717;
    padding: 12px;
    font-family: 'Montserrat';
    border-radius: 10px;
    border: 0px !important;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: white !important;
    color: white;
    text-shadow: none !important;
    margin: 0 18px;
    text-align: center;
}
.modal-dialog {
    padding: 102px;
}	
.main_content_neww {
    float: left;
    width: 100%;
    margin: 8px 0 0;
}
.map_sect iframe {
    height: 286px;
    border: 1px solid #a0a0a0 !important;
    width: 100%;
}
.middle_sect_bg_new {
    float: left;
    width: 100%;
    padding: 0px !important;
}
.vip_access_img img
{
	width:70%;
}
.center_court_img img
{
	width:70%;
}
.main_content_neww span {
    color: #0154a4;
    float: left;
    font-family: 'Conv_Poppins-Medium';
    font-size: 20px;
    margin: 3px 0 0;
    padding: 8px;
    width: 100%;
}
.top_sect {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px 0;
}
	
	
.middle_content_sct {
    background-color: #fff;
    float: left;
    margin: 12px 0;
    padding: 2px;
    width: 100%;
}
.service_box_right {
    float: left;
    text-align: center;
    width: 100%;
}
.right_cntct_sect {
    background: white none repeat scroll 0 0;
    float: left;
    margin: 12px 0;
    padding: 0;
    width: 100%;
}
.top_right_sect
{
	display:none;
}
    .center_court_img {
        float: left;
        width: 100%;
        text-align: center;
        margin: 16px 0;
    }
.nav > li > a {
    display: block;
    padding: 8px 20px !important;
    position: relative;
}
.middle_sect {
    float: left;
    width: 100%;
    margin: 0px 0 20px 0 !important;
}
.top_sect ul {
    float: left;
    width: 100%;
    margin-top: 0px !important;
}
.register_btn {
    float: left;
    width: 100%;
    text-align: center;
    margin: 12px 0 0 0px;
}
.main_content_video iframe {
    width: 100%;
	float:left;
}
}





@media screen and (max-width: 667px) {

.futer_socio ul {
    float: left;
    text-align: center;
    width: 100%;
}
.futer_socio {
    float: left;
    margin: 12px 0 0;
    width: 100%;
}

.banner_content h2 {
    float: left;
    width: 100%;
    font-size: 30px;
    font-family: 'Montserrat';
    text-transform: uppercase;

}
.logo_sctn img {
    width: 22%;
}
.bottom_box p {
    color: black;
    float: left;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 29px;
    margin: 6px 0;
    text-align: justify;
    width: 100%;
    height: auto !important;
}
.background_sect {
    float: left;
    width: 100%;
}
.modal-dialog {
    padding: 0 54px;
}
}



/************************************************************************************
smaller than 767
*************************************************************************************/

@media screen and (max-width: 640px) {
.modaol_new {
    padding: 10px !important;
}

}
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {


.logo_sctn img {
    width: 30%;
}

.top_right_sect {
    float: left;
    margin: 5px 0;
    text-align: center;
    width: 100%;
	display:none;
}
.profile_box p {
    color: #363636;
    float: left;
    font-family: times new roman;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 2px;
    text-align: justify;
    width: 100%;
}
.map_sect iframe {
    height: 222px !important;
    border: 1px solid #a0a0a0 !important;
    width: 100%;
}
.banner_content h2 {
    float: left;
    width: 100%;
    font-size: 22px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.map_sect h2 {
    color: #0154a4;
    float: left;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    margin: 8px 0;
    padding-bottom: 3px;
    width: 100%;
    text-align: center;
}
.top_sect h5 {
    float: left;
    width: 100%;
    font-size: 13px;
    font-family: 'Poppins';
    margin: 8px 0 0;
    padding: 6px;
    line-height: 23px;
}
#contact h3 {
    color: #191919;
    display: block;
    font-size: 27px;
    font-weight: 400;
    font-family: "Conv_Poppins-Medium";
}
.middle_sect_bg {
    float: left;
    width: 100%;
    padding: 0px;
}


.disclaimer_sect {
    float: left;
    padding: 10px;
    width: 100%;
}
.bottom_box {
    background: #e4ecf9;
    float: left;
    width: 100%;
    border: 1px solid #d8dce2;
    padding: 6px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#contact {
    background: #f7f7f7 none repeat scroll 0 0;
border: 1px solid #c3c1c1;
    padding: 8px !important;
}
.futer_section {
    float: left;
    width: 100%;
    background: #10499e;
    padding: 10px 0;
    margin: 0 0 12px 0 !important;
}

.mortgage_payment iframe {
    float: left;
    height: 800px;
    width: 100%;
}
.land_calculator iframe {
    float: left;
    height: 440px;
    width: 100%;
}
.fuutr_phne_bg {
    bottom: 0;
    display: block !important;
    position: fixed;
    z-index:999999;
}
.futer_mail_bg {
    background: #343434 none repeat scroll 0 0;
    border-radius: 0px;
    display: block !important;
    float: left;
    margin: 15px 0 0;
    padding: 10px;
    width: 100%;
}
.futer_mail {
    float: left;
    text-align: center;
    width: 100%;
}
.futer_mail > ul {
    float: left;
    margin: 0;
    width: 100%;
}

.modal-dialog {
    padding: 0 23px;
}
.futer_mail > ul li {
    display: inline;
    list-style-type: none;
    margin: 0 7px 0 12px;
}
.registered_btnn {
    float: left;
    width: auto;
    font-size: 18px;
    background: #e81717;
    padding: 12px;
    font-family: 'Montserrat';
    border-radius: 10px;
    border: 0px !important;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: white !important;
    color: white;
    text-shadow: none !important;
    margin: 0 91px;
    text-align: center;
}
.register_sect {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.top_sect ul li {
    color: black;
    float: left;
    line-height: 22px;
    font-size: 14px;
    list-style: outside none none;
    font-family: 'open_sansregular';
    text-align: justify;
    width: 100%;
    text-align: center;
	margin:4px 0;
}
    .main_content h2 {
        color: #0154a4;
        float: left;
        font-family: 'Oswald';
        font-size: 26px;
        margin: 0;
        padding-bottom: 3px;
        width: 100%;
        line-height: 34px;
    }
    .main_content p {
        color: black;
        float: left;
        font-family: 'open_sansregular';
        font-size: 15px;
        line-height: 26px;
        margin: 6px 0;
        text-align: inherit;
        width: 100%;
        padding: 0px;
    }
.center_court_sect p {
    color: black;
    float: left;
    font-family: 'open_sansregular';
    font-size: 14px;
    line-height: 24px;
    margin: 6px 0;
    text-align:inherit;
    width: 100%;
    padding: 5px;
}
    .center_court_sect h2 {
        color: #0154a4;
        float: left;
        font-family: 'Oswald';
        font-size: 28px;
		text-align:center;
        margin: 0;
        line-height: 34px;
        width: 100%;
    }
.center_court_img img {
    width: 100%;
}
.main_content_neww p {
    color: black;
    float: left;
    font-family: 'open_sansregular';
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 6px 0;
    text-align: justify;
    width: 100%;
    padding: 5px;
}
.main_content_neww span {
    color: #0154a4;
    float: left;
    font-family: 'Conv_Poppins-Medium';
    font-size: 20px;
    margin: 3px 0 0;
    padding: 0px;
    width: 100%;
    text-align: center;
}

}




@media screen and (max-width: 414px) {
.nbs-flexisel-item img {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    max-height: 280px;
    max-width: 300px;
    position: relative;
    width: 100%;
}
.services_slider h2 {
    color: white;
    float: left;
   font-family: 'Oswald';
    font-size: 20px;
    width: 100%;
}
.thumbfloor {
    display: inline-block;
    width: 35%;
    margin-right: 7%;
    margin-bottom: 25px;
    margin-left: 7%;
}



}
/************************************************************************************
smaller than 360
*************************************************************************************/
@media screen and (max-width: 360px) {




}
/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {




}